.news-items{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.news-item{
    flex: 1 0 500px;
    max-width: 100%;
    margin: 0 15px 30px 15px;
    transition: all 0.3s ease;
    background: #F8F8F8;
    display: flex;
}

.news-item__img{
    width: 220px;
    height: 100%;
    object-fit: cover;
}

.news-item__group_content{
    padding: 30px 25px 20px 25px;
    display: flex;
    flex-direction: column;
}

.news-item__date{
    font-style: italic;
}

.news-item__text{
    margin-bottom: 15px;
}

.news-item__link{
    color: #26a1e4;
    text-transform: uppercase;
    margin-top: auto;
    margin-left: auto;
}

@media (max-width: 500px){
    .news-items{
        margin: 0;
    }
    .news-item{
        display: block;
        margin: 0 0 20px 0;
    }
    .news-item__img{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .news-item__group_content{
        padding: 20px;
    }
}