.advantages-items{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.advantages-item{
    flex: 1 0 290px;
    max-width: 100%;
    margin: 0 15px 30px 15px;
    text-align: center;
}

.advantages-item__img{
    display: inline-block;
    margin-bottom: 15px;
    width: 75px;
    height: 75px;
    object-fit: contain;
}

.advantages-item__title{
    color: #22a7f0;
    margin-bottom: 15px;
    font-size: 20px;
    text-transform: uppercase;
}

.advantages-item__text{

}