.numbers-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.numbers-item{
    flex: 1 0 130px;
    margin: 0 15px 20px 15px;
    transition: all 0.3s ease;
    color: #fff;
    text-align: center;
}

.numbers-item__number{
    font-size: 50px;
    margin-bottom: 30px;
    position: relative;
}

.numbers-item__number:after{
    content: '';
    display: block;
    position: absolute;
    background: #FFFFFF;
    height: 2px;
    width: 40px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.numbers-item__title{
    font-size: 22px;
    text-transform: uppercase;
}