.header{
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.2s linear;
}

.header > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 175px;
    transition: all 0.2s linear;
}


.header.min > .container{
    height: 80px;
}

.header.min .logo > img{
    width: 60px;
}

@media (max-width: 1023px){

    .header > .container{
        height: 60px;
    }

    .header.min > .container{
        height: 60px;
    }
    
}