.logo{
    display: flex;
    align-items: center;
    transition: all 0.2s linear;
}

.logo > img{
    flex: none;
    margin-right: 20px;
    width: 96px;
    transition: all 0.2s linear;
}

.logo__text{
    font-size: 50px;
    color: #00bdec;
}

.logo__text > span{
    color: #ff5384;
}

@media (max-width: 1023px){

    .logo > img{
        width: 50px;
    }
    
    .logo__text{
        font-size: 24px;
    }

    .min .logo > img{
        width: 50px;
    }
}