.top-menu{
    padding: 0;
    margin: 0;
    transition: all 0.2s ease-in;
}

.top-menu li{
    list-style: none;
    display: inline-block;
    margin: 0 44px 0 0;
}

.top-menu li:last-child{
    margin-right: 0;
}

.top-menu li a{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
    color: #4b4b4b;
    transition: all 0.2s linear;
    font-weight: 500;
}

.top-menu li a:hover{
    color: #26a1e4;
}

.gamburger{
    display: none;
    z-index: 110;
    width: 26px;
    height: 20px;
    position: relative;
}
.gamburger span{
    position: absolute;
    display: block;
    width: 100%;
    border-top: 2px solid #161616;
    transition: all 0.2s linear;
}

.gamburger span:nth-child(1){
    top: 0;
}
.gamburger span:nth-child(2){
    top: 9px;
}
.gamburger span:nth-child(3){
    top: 18px;
}

.active .gamburger span:nth-child(1){
    top: 9px;
    transform: rotate(45deg);
}
.active .gamburger span:nth-child(2){
    opacity: 0;
}
.active .gamburger span:nth-child(3){
    top: 9px;
    transform: rotate(-45deg);
}

@media (max-width: 1023px){
    .top-menu li{
        margin: 0 20px 0 0;
    }
}

@media (max-width: 768px){
    .gamburger{
        display: block;
    }
    .top-menu{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        transform: translateX(-100%);
        background: #fff;
    }
    .active .top-menu{
        transform: translateX(0);
    }

    .top-menu li{
        margin: 0 0 25px 0;
    }
    
}