.lastworks-items{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}

.lastworks-item{
    border: 2px solid #FF5384;
    flex: 1 0 290px;
    margin: 0 12px 20px 12px;
    transition: all 0.3s ease;
}

.lastworks-item:hover{
    transform: scale(1.03);
}

.lastworks-item__img{
    width: 100%;
    object-fit: cover;
}