.promotion > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.promotion__text{
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
}


@media (max-width: 768px){
    .promotion > .container{
        display: block;
        text-align: center;
    }

    .promotion__text{
        margin-bottom: 30px;
    }
}